.invisible {
    height: 20vh;
}
.head {
    text-align: center;
    font-weight: bold;
    margin: 20px;
    font-size: 68px;
    margin: 5vh;
}
.explain {
    text-align: center;
    font-weight: bold;
    margin-top: 5vh;
    margin-bottom: 20px;
}
.guide-photos-container {
    justify-content: center;
    display: flex;
}
.modal-container {
    /* margin-top: ; */
    max-height: 70%
}
.guide-btn {
    background: rgba(160, 35, 35, 0.7);
    margin-bottom: 2%;
}
.guide-photo {
    max-width: 1300px;
    display: block;
    margin-top: 0%;
}
.input{
    zIndex: 2;
    marginBottom: 10px;
    cursor: pointer;
}
.upload-box {
    background-color: rgb(191, 188, 209);
    border-radius: 10px;
    padding: 20px;
    margin-left: 20vh;
    margin-right: 20vh;
    display: "flex"; 
    justify-content: "center";
    align-items: "center";
    margin-bottom: "20px";
}
.upload-description {
    margin-top: 20px;
    color: black;
}
.delete-circle {
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: red;
    color: white;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}
.delete-icon {
    height: 3px;
    width: 3px;
    font-size: 10px;
    margin-bottom: 3px;
}
.upload-btn-group {
    display: flex;
    align-items: center;
}
.upload-btn {
    position: relative;
    overflow: hidden;
    margin-right: 20px;
}
.upload-btn-invisible {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.upload-btn-inside {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.img-view {
    display: flex;
}
.inside-card {
    position: relative;
}
.card-img {
    width: 192px;
    height: 192px;
}

.upload-btn-description {
    margin-top: 13px;
    align-items: center;
    color: black;
}
.box{ 
    background-Color: gray;
    border: 2px solid gray;
    padding: 20px;
    margin: 20px;
    width: 200px;
    height: 200px;
    align-items: center;
    
}
.card{
    width: 200px !important; 
    padding: 2px !important;
    border-radius: 5px;
    height: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(255, 254, 254) !important;
    margin-right: 20px;
}
.cont-del-btn-group{ 
    margin-left: 20vh;
    margin-right: 20vh;
    float: right;
    /* margin-top: 10px; */
}

.continueButton{ 
  margin: 15px;
  width: 150px;
  /* height: 30px; */
}

.delete-button{
    background-color: #2f3640; /* 임의의 배경색 */
    color: currentColor;
}

p {
    color: invert(currentColor);
}

/* invert() 함수를 적용하여 대비되는 글자색 찾음 */
@supports (color: invert(currentColor)) {
    p {
    color: invert(currentColor);
}
}
